In [2]:
import numpy as np
import pandas as pd

In [3]:
months = ['sep', 'oct', 'nov', 'dec', 'jan', 'feb', 'mar', 'apr', 'may', 'jun']
scores = np.random.default_rng(0)
data = scores.integers(40, 60, 10)

In [6]:
ts = pd.Series(data, months)
m = ts.mean()
dif = 80 - m

In [7]:
ts

sep    57
oct    52
nov    50
dec    45
jan    46
feb    40
mar    41
apr    40
may    43
jun    56
dtype: int64

In [8]:
ts + dif

sep    90.0
oct    85.0
nov    83.0
dec    78.0
jan    79.0
feb    73.0
mar    74.0
apr    73.0
may    76.0
jun    89.0
dtype: float64

# beyond

In [28]:
std = ts.std()
med = ts.median()

In [15]:
# A
ts.loc[ts > m + std]

sep    57
jun    56
dtype: int64

In [19]:
# B
ts.loc[(ts < m + std) & (ts > m)]

oct    52
nov    50
dtype: int64

In [20]:
# C
ts.loc[(ts > m - std) & (ts < m)]

dec    45
jan    46
mar    41
may    43
dtype: int64

In [21]:
# D
ts.loc[ts < m - std]

feb    40
apr    40
dtype: int64

In [26]:
# x2 std below or above mean 
ts.loc[(ts > m + (std * 2)) | (ts < m - (std * 2))]

Series([], dtype: int64)

In [30]:
# median mean dif
m - med

# if they the mean and median were far apart then that would mean the data points are farther apart.

1.5